* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 25px;
}
/* --------------------------------- */

#nb_modal_overlay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 900;

    /* Custom */
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.4s ease;
}
#nb_modal_overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

[data-nb_modal_target].active {
    /* Custom */
    background-color: red;
}

[data-nb_modal] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 950;

    /* Custom */
    transition: opacity 0.4s ease;
}
.active[data-nb_modal] {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

[data-nb_modal_content] {
    position: relative;
    overflow-y: auto;
    margin: 15px;

    /* Custom */
    max-height: 97vh;
    background-color: #fff;
    padding: 40px;
    max-width: 800px;
}

[data-nb_modal_close_button] {
    background-color: transparent;
    border: none;
    cursor: pointer;

    /* Custom */
    position: absolute;
    right: 15px;
    top: 15px;
}
